.displayCenter {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold:hover {
    border: 5px dotted skyblue;
    box-sizing: border-box;
    padding: 2px;
}

@media (max-width: 500px) {
    .displayCenter {
        height: 50vh;
    }

    .flexStart {
        padding: 20px 20px;
        align-items: flex-start;
    }
}

.imageWidth {
    width: 200px;
}

.image {
    border-radius: 50%;
    width: 100%;
}

.greeting {
    background: maroon;
    color: white;
}
